<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Geração de QRCode</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><p>Seu qrcode foi gerado e seu ID é <%= idqrcode %></p></h1>
    <div>
      <h1>Qrcode Versão 1</h1>
      <img src="../images/qr_versao1.png">
    </div>
    
    <div>
      <h1>Qrcode Versão 40</h1>
      <img class="formata" src="../images/qr_versao40.png">
    </div>
  </body>
</html>
