<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Geração de QRCode</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><p>Seu qrcode foi gerado e seu ID é <%= idqrcode %></p></h1>

    <img class="formata" src="../../qrcode.png">
  </body>
</html>
