<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Profissão</th>
      </tr>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= usuario.idade %></td>
        <td><%= usuario.profissao %></td>
      </tr
    </table>
  </body>
</html>
